
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: relative; 
    z-index: 10;
}

.container img {
    display: flex;
    align-items: center;
    width: 226px;
    height: 75px;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.navbar ul {
    display: flex;
    margin-bottom: 15px;
    list-style: none;
    gap: 30px;
    text-decoration: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: black;
        transition: all 0.3s ease;
        transform: translateX(-50%);
    }

    &:hover {
        color: #333;

        &::after {
            width: 100%;
        }
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: black;
    margin: 3px 0;
    transition: 0.3s;
    border-radius: 2px;
}

.mobile-menu {

    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu.active {
    left: 0;
}

.mobile-menu ul {
    list-style: none;
    text-align: center;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s;
}

.mobile-menu ul li a:hover {
    color: #666;
}

.close-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

@media (max-width: 768px) {
    .container {
        padding: 15px 20px;
    }

    .container img {
        width: 180px;
        height: 60px;
    }

    .navbar {
        display: none !important;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navbar ul li a {
        &::after {
            display: none;
        }
        
        &:hover {
            color: black;
        }
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px 15px;
    }

    .container img {
        width: 150px;
        height: 50px;
    }

    .mobile-menu ul li a {
        font-size: 20px;
    }
}
