@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.release-section{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 4vh;
    }

}
.release-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    
}

.release-imgs{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-right: 37px;

}

.release-preview{
    margin-right: 75px;
}
.release-preview img{
    width: 418px;
    height: 418px;
}

.release-info{
    width: 477px;
    height: 418px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    padding-left: 21.75px;
    

}
.release-stars-info{
    display: flex;
    width: 109px;
    height: 35px;
    gap: 15px;
    margin-top: 14px;
}

.release-info h3{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #2D2D2D;
    margin-bottom: 15px;
}
.release-info p{
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
    
}
.release-info-pallet{
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
}

.release-info h4{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2D2D2D;
}
.release-info h5{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #2D2D2D;
}


@media (max-width: 768px) {
    .release-section {
        margin-top: 5vh;
        padding: 0 20px;
        
        h2 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 3vh;
        }
    }

    .release-container {
        flex-direction: column;
        margin-top: 2vh;
        width: 100%;
    }

    
    .release-imgs {
        display: none;
    }

    .release-preview {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
        
        img {
            width: 300px;
            height: 300px;
            max-width: 100%;
        }
    }

    .release-info {
        width: 100%;
        max-width: 400px;
        height: auto;
        padding: 20px;
        box-shadow: 0px 2px 4px 0px #00000040;
        
        .release-stars-info {
            margin-top: 0;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            font-size: 12px;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 14px;
            line-height: 1.4;
        }
    }

    .release-info-pallet {
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        
        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
}


@media (max-width: 480px) {
    .release-section {
        h2 {
            font-size: 17px;
        }
    }

    .release-preview img {
        width: 250px;
        height: 250px;
    }

    .release-info {
        padding: 15px;
        align-items: center;
        
        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 16px;
        }

        h5 {
            font-size: 12px;
        }
    }

    .release-info-pallet {
        gap: 12px;
        
        img {
            width: 35px;
            height: 35px;
        }
    }
}